body{
  height: 100vh;
  margin: 0;
  padding: 0;
}
.sidebar{
  height: 100%;
  background-color: #20263a;
}
.list_items{
  margin-top: 50px;
}
.sidebar a:hover{
  background-color: white;
  color: black !important;
  overflow: hidden;
  padding: 10px;
  border-radius: 7px;
}

.mainpage{
  height: 100vh;
  background-color: #e8edff;
}

.box_shadow{
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  text-align: center;
}

.navbarr{
  visibility: hidden;
}
.graph{
  height: 300px;
}
.profile{
  border-radius: 10px;
  padding: 5px;
}

.logout{
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .sidebar{
    height: 290px;
  }

  .brand{
    height: 110px;
    width: 100px;
  }
  .list_items{
    height: 70%;
    width: 70%;
  }

  .box_shadow{
    margin-bottom: 10px;
  }

}